<h1>forgot password?</h1>

<%= flash[:notice] %>
<%= form_for(:user) do |f| %>
<div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %>
</div>

<div class="actions">
<%= f.submit %>
</div>
<% end %>